<form id="login-form" class="form-horizontal" action='' method="POST">
  <fieldset>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="form-control" style="width:350px;">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="form-control" style="width:350px;">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control" style="width:350px;">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Profile Pic -->
      <label class="control-label" for="profilePic">Profile Picture (direct url)</label>
      <div class="controls">
        <input type="text" id="profile-pic" name="profilePic" placeholder="direct url only" class="form-control" style="width:350px;">
        <p class="help-block">Please provide a direct url to profile image</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
  </fieldset>
</form>