				<div id="sign-up-modal" class="modal fade" role="dialog">
					<div class="modal-dialog">
					    <!-- Modal content-->
						<div class="modal-content">
							<form id="add-item-to-library">
								<div class="modal-header">
									<div class="row">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<div>
											<h4 class="modal-title">Sign Up</h4>
										</div>
									</div>		
								</div>
								<div class="modal-body">
									<div class="row">
										<% include ./_signup %>
									</div>
					    		</div>
					    	</form>
					    </div>
					</div>
				</div>